<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>
          Number
        </th>
        <th>
          Title
        </th>
        <th>
          Answer
        </th>
        <th>
          Elapsed Time (ms)
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="problem in vm.problems">
        <td>
          {{problem.number}}
        </td>
        <td>
          {{problem.title}}
        </td>
        <td>
          {{problem.answer}}
        </td>
        <td>
          {{problem.timer}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
